.users_header {
  font-size: medium;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.users_body {
  font-size: medium;
  font-weight: bold;
  text-transform: capitalize;
}
.users_items {
  font-size: medium;
}
.users_info_button {
  background-color: transparent;
}
.users_info_button:hover {
  background-color: transparent;
}
.users_info_button::before {
  background-color: transparent;
}
.users_info_button:focus {
  background-color: transparent;
}

.users_card {
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  position: relative;
  margin-bottom: 30px;
}
.users_shadow {
  background-color: var(--main-bg);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}
